body {
    background: url("images/bg.gif");
    font-family: 'Arial', Verdana, sans-serif!important;
}
p {
    margin: 4px;
}
input {
    font-size: 13px; 
    font-family: sans-serif; 
    font-weight: 500; 
    color: #444; 
    line-height: 1.3; 
    width: 60px;
    height: 23px;
    box-sizing: border-box;
    text-align: center;
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
}
.mainBlock {
    display: flex;
}
#whole_body {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top:0; width:1160px;
}
#description {
    background-color:#e7f3ff;
    border-radius:10px;
    border:2px solid #353437;
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: block;
}
#scheme {
    position:relative;
    border: 2px solid #353437;
    border-radius: 10px;
    margin:20px auto;
    height:500px;
    width:500px
}
#select {
    font-size: 14px; 
    font-family: sans-serif; 
    font-weight: 400; 
    color: #444; 
    line-height: 1.3; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); 
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%; 
}
.SetValueKond {
    background-color:#e7f3ff;
    border-radius:10px;
    border:2px solid #353437;
    height: fit-content;
    padding: 12px;
    margin-top: 20px;
    width: 300px;
}
.text_info {
    display: flex;
    flex-direction: column;
}
.btn {
    text-align:center;
    cursor: pointer;
    background-color:#212de9;
    color: white;
    width:120px;
    height:45px;
    font-size:18px;
    position:relative;
    border-radius: 8px;
    margin-top: 10px;
}
* {
    margin: 0;
    padding: 0;
}


.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
    width: 100%;
    position: relative;

}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #08C;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Lily Script One', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    border: 2px solid #353437;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
    border-radius: 10px;
    border: 2px solid #353437;
}

[id^=tab]:checked + label {
    background: #08C;
    color: white;
    top: 0;
    border-radius: 10px;
    border: 2px solid #353437;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding-top: 10px;
    background: #e7f3ff;
    padding: 15px;
    color: #333;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    border-radius: 10px;
    border: 2px solid #353437;
}